/*! mhCookie v1.4 | (c) Michael Hochstetter !*/
#mhCookie_toggle {
	display: none;
	position: fixed;
	bottom: 24px;
	right: 24px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	transition: unset;
	z-index: 999999998;
	box-sizing: border-box;
}
#mhCookie_container {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 24px;
	width: 100%;
	max-width: 300px;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	transition: unset;
	z-index: 999999999;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}
#mhCookie_container * {
	font-family: arial, sans-serif !important;
	transition: unset;
	box-sizing: border-box;
	text-decoration: none;
}
#mhCookie_container:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
#mhCookie_text {
	line-height: 20px;
	font-size: 14px;
}
#mhCookie_text #mhCookie_headline {
	margin: 0 0 16px 0;
	font-size: 24px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-shadow: unset;
}
#mhCookie_text p {
	margin-bottom: 16px;
	color: #fff;
	text-align: justify;
}
#mhCookie_text a {
	color: #ccc;
}
#mhCookie_link {
	margin-top: 24px;
}
#mhCookie_link a {
	display: block;
	margin-bottom: 8px;
	padding: 8px 12px;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border: 2px solid #333;
	border-radius: 4px;
}
#mhCookie_link a:last-of-type {
	margin-bottom: 0px;
}
#mhCookie_link a.active {
	border: 2px solid #fff;
}
#mhCookie_link #mhCookie_link_choose_list {
	display: none;
}
#mhCookie_link #mhCookie_link_choose_list ul {
	padding: 12px 24px 0 24px;
	list-style-type: none;
}
#mhCookie_link #mhCookie_link_choose_list ul li {
	padding: 8px 0;
	list-style-type: none;
	font-size: 14px;
	line-height: 14px;
}
#mhCookie_link #mhCookie_link_choose_list ul li::before {
	display: none;
}
#mhCookie_link
	#mhCookie_link_choose_list
	ul
	li .mhCookie_link_choose_list_item_cbx {
	margin-right: 8px;
	vertical-align: middle;
}
#mhCookie_link
	#mhCookie_link_choose_list
	ul
	li span {
	vertical-align: middle;
}

.mhCookie_error {
	padding: 24px;
	line-height: 32px;
	background-color: #ddd;
	font-size: 14px;
	text-align: center;
}
.mhCookie_btn {
	padding: 4px 12px;
	border-radius: 4px;
	background-color: #444;
	color: #fff !important;
	text-decoration: none;
}

rm#mhCookie_datenschutz {
	display: block;
	margin: 12px 0 24px 0;
}
rm#mhCookie_datenschutz #mhCookie_datenschutz_toggle {
	display: block;
	padding: 8px 16px;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
}