/*! mhCookie v3.0 | (c) Michael Hochstetter | LinkToGitlabMITLicense !*/
#mhCookie_btnSettings {
	cursor:pointer;
}
#mhCookie_container {
	display:none;
	position:fixed;
	top:0;
	left:0;
	padding:24px 48px;
	width:100%;
	background-color:#111;
	background-color:rgba(0,0,0,.75);
	color:#fff;
	transition:unset;
	z-index:999999999;
	box-sizing:border-box;
}
#mhCookie_container * {
	font-family:arial,sans-serif !important;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-sizing:border-box;
}
	#mhCookie_wrapper {
		margin:0 auto;
		max-width:1024px;
	}
	#mhCookie_wrapper:after {
		content:"";
		display:block;
		height:0;
		visibility:hidden;
		clear:both;
	}
		#mhCookie_close {
			text-align:right;
			cursor:pointer;
		}
		#mhCookie_text {
			margin:24px 0;
		}
		#mhCookie_dslink {
			padding:8px 8px 8px 0;
			float:left;
			width:calc(100% - 250px);
		}
			#mhCookie_dslink a {
				color:#eee;
				text-decoration:none;
				font-style:italic;
				cursor:pointer;
			}
		#mhCookie_control {
			float:right;
			width:250px;
		}
		#mhCookie_control:after {
			content:"";
			display:block;
			height:0;
			visibility:hidden;
			clear:both;
		}
			.mhCookie_btn {
				display:block;
				padding:8px;
				width:113px;
				text-align:center;
				color:#fff !important;
				text-decoration:none;
				cursor:pointer;
			}
			.mhCookie_btn.agree {
				float:right;
				background-color:#107B04;
			}
			.mhCookie_btn.deny {
				float:left;
				background-color:#BA0004;
			}
				.mhCookie_btn.agree:hover, .mhCookie_btn.deny:hover {
					box-shadow:0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
				}
				.mhCookie_btn.agree.active, .mhCookie_btn.deny.active {
					background-color:grey;
					opacity:.75;
					font-size:90%;
					cursor:default;
				}
					.mhCookie_btn.agree.active:hover, .mhCookie_btn.deny.active:hover {
						box-shadow:unset;
					}
